*{
margin: 0;
padding: 0;
}

body{
    background-color: #ffbbbb;
}

header{
    font-family: 'Dela Gothic One', cursive;
    display: block;
    text-align: center;
    font-size: 50px;

}

.container{
    
    display: flex;
    /* width: 10%; */
    justify-content: center;
}


.question{
    font-family: 'Kiwi Maru', serif;
    /*border: 2px solid  rgb(71, 76, 80);*/
    box-shadow: 5px 5px rgb(199, 209, 218);
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    background-color: aliceblue;

    
}

.button{
    display: block;
    color: white;
    margin: auto;
    text-align: center;
    border-radius : 20px;
    background-color: rgb(202, 190, 255);
    width: 305px;
    height: 30px;


}

.button:hover{
    background-color: rgb(255, 136, 121);
}



